<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>    
    <link rel="stylesheet" href="../static/css/styles.css">
    
</head>
<body>
    <h1>Klasifikasi Bangunan dengan ANN Model</h1>
    <h3>Temukan kategori bangunan hanya dengan mengunggah foto</h3>
    <form action="/predict" method="post" enctype="multipart/form-data">

        <label for="images" class="drop-container" id="dropcontainer">
            <span class="drop-title">Unggah Foto Anda</span>
            <input type="file" name="file" id="images" accept="image/*" required>
            <span id="image-preview"></span>
            <img id="output" alt="Output Image">

        </label>

        <div id="submit-wrap">
            <a id="reset" href="/"></a>
            <button id="submit" type="submit"></button>
        </div>

    </form>

    
</body>
<script type="text/javascript" src="../static/js/scripts.js"></script>

</html>